{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Open Source Science" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url home %}">Home</a><li>
{% endblock %}

{% block body %}
    
    <h1 id="tagline">
        Designed for open and massively collaborative science.
    </h1>
    
    <h2 id="sub-tagline">
        For scientists. By scientists.
    </h2>
    
    <div id="launch-box">
        We launched at Open Science Summit 2010.
        Watch the video of our <a href="http://fora.tv/live/open_science/open_science_summit_2010">presentation on Fora.tv</a>
        and follow us on <a href="http://twitter.com/colabscience">Twitter</a>.
    </div>
    
    <div id="home-content">
        <div id="home-cast">
            <div id="tutorial-video"></div>
        </div>
        
        <div id="home-promo">
            <div id="home-promo-header">What can I do here?</div>
            
            <ul id="home-promo-list">
                <li>
                    Manage massive collaborations
                </li>
                <li>
                    Open source your research
                </li>
                <li>
                    Follow science as it happens
                </li>
                <li>
                    Build a realtime CV of contributions
                </li>
            </ul>
            
            <a id="signup-button" href="{% url acct_signup %}">
                Sign up
            </a>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
