{% extends "wikis/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load threadedcommentstags %}
{% load issues_tags %}
{% load account_tags %}
{% load wikis_tags %}

{% block head_title %}Wiki History: {{ wiki.title }}{% endblock %}

{% block breadcrumbs %}
    {% if wiki.content_object %}
       <li><a href="{{ wiki.content_object.get_absolute_url }}">{{ wiki.content_object }}</a></li>
    {% endif %}
    <li>Wikis</li>
    <li><a href="{{ wiki.get_absolute_url }}">{{ wiki }}</a></li>
    <li><a href="{{ request.path }}">History</a></li>
{% endblock %}

{% block actions %}
    {% if user.is_authenticated %}
        <li class="add-page">
            <a href="{% url wiki_detail wiki.id %}">&laquo; Back to Wiki</a>
        </li>
    {% else %}
        Sign in to access actions.
    {% endif %}
    
{% endblock %}


{% block body %}
    <div class="post-title-wrapper">
        <div class="post-title">
            History for Wiki: {{ wiki.title }}
        </div>
    </div>
    
    <table>
        <tr class="tbheader">
            <th>Revert to Revision #</th>
            <th>At</th>
            <th>Author</th>
            <th>Comment</th>
        </tr>
        {% for change in changes %}
        <tr class="{% cycle 'tbodd' 'tbeven' %}">
            <td>
                <a href="{% url wiki_revert wiki.id change.revision %}">
                    {{ change.revision }}
                    {% if forloop.first %}
                        (Current version)
                    {% endif %}
                </a>
        	<td>
        	    <a href="{{ change.get_absolute_url }}">
        	        {{ change.modified|date:"M d, Y" }}
    	        </a>
            </td>
        	<td>
                <a href="">{% user_display change.editor %}</a>
            </td>
            <td>
                {% if change.comment %}<i>'{{ change.comment}}'</i>{% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}
