{% load threadedcommentstags %}
{% load i18n %}
{% load sorting_tags %}
{% load headquarters_tags %}

{#{% get_threaded_comment_tree for post as comments %}#}
{#{% get_comment_count for post as comment_count %}#}

<div class="comments-wrapper">
    <div class="section">
        <div class="list-title-wrapper">
            <div class="list-title">
                Comments
                <span>({{ comment_count }})</span>
            </div>
            
            <ul class="list-sorting">
                <li>Sort branches by:</li>
                <li>{% anchor date_submitted "date" %}</li>
                <li>{% anchor yeas "yeas" %}</li>
                <li>{% anchor nays "nays" %}</li>
            </ul>
            <div class="clear"></div>
        </div>
        
        <div class="section-content">
            <ul class="post-list comments">
                {% if comments %}
                    {% for comment in comments %}
                        {% show_comment comment %}
                    {% endfor %}
                {% else %}
                    <li>No comments yet</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
