{% extends "headquarters/comment_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load headquarters_tags %}
{% load threadedcommentstags %}

{% block head_title %}Edit your Comment{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a></li>
    <li><a href="{% comment_url comment %}">Your Comment</li>
    <li><a href="{{ request.path }}">Edit</a></li>
{% endblock %}

{% block body %}
    <div class="post-title-wrapper">
        <div class="post-title">
            Edit your Comment
        </div>
    </div>
    
    <ul>
        {% show_comment comment %}
    </ul>
    
     <div class="edit-wrapper">
        {% if user.is_authenticated %}
        <form class="edit-form uniForm" id="edit-comment" method="POST" action="{% url tc_comment_edit comment.id %}">{% csrf_token %}
            <fieldset class="inlineLabels">
                {{ comment_form|as_uni_form }}
                <div class="form_block">
                    <input type="hidden" name="next" value="{% comment_url comment %}" />
                    <input type="hidden" name="action" value="comment" />
                    <input type="submit" value="{% trans 'Comment on Issue' %}"/>
                </div>
            </fieldset>
        </form>
        {% else %}
            <h3>Please <a href="{% url acct_login %}">Login</a> (or <a href="{% url acct_signup %}">Sign Up</a>) to leave a comment.</h3>
        {% endif %}
    </div>
{% endblock %}
