{% load theme_tags %}
{% load headquarters_tags %}
{% load avatar_tags %}
{% load account_tags %}

<div class="update-description">
    {% url researcher_detail update_user as update_user_url %}
    <a class="update-user-avatar" href="{{ update_user_url }}">{% avatar update_user 30 %}</a>
    <a href="{{ update_user_url }}">{% user_display update_user %}</a>
    {{ update.action_description }} <a href="{{ feed_object.get_absolute_url }}">{{ feed_object }}</a>
    <span class="update-date">at {{ update.created|date:"P M d, Y" }}</span>
</div>

<div class="update-object">
    {% post_meta_summary update_object 0 %}
    {{ object_content|safe }}
</div>
<div class="clear"></div>
