{% load threadedcommentstags %}
{% load i18n %}
{% load sorting_tags %}
{% load dashboard_tags %}
{% load theme_tags %}
{% load summaries_tags %}

{#{% get_threaded_comment_tree for post as comments %}#}
{#{% get_comment_count for post as comment_count %}#}

<div class="discussion-block">
    <div class="discussion-header">
        <span class="discussion-header-text">Discussion</span>
        <span class="discussion-header-count">{{ comments_count }}</span>
    </div>
    <img class="discussion-tail" src="{{ STATIC_URL }}images/discussion_tail.png">
    
    <ul class="post-list comments-list">
        {% if comments %}
            {% for comment in comments %}
                {% show_comment comment %}
            {% endfor %}
        {% else %}
            <li>No comments yet</li>
        {% endif %}
    </ul>
</div>
