{% load dashboard_tags %}
{% load theme_tags %}

<li id="comment-{{ comment.id }}" class="list-item comment level-{{ comment.depth }}">
    {% post_meta comment %}
    
    <div class="post-content">
        {{ comment.comment|safe }}
    </div>
    
    <ul class="post-buttons">
        {% ifequal comment.user request.user %}
            <li><a id="edit-{{ comment.id }}-link" class="post-option" href="{% url comment_edit comment.id %}">Edit</a></li>
            <li><a class="post-option" href="{% url tc_comment_delete comment.id %}">Delete</a></li>
        {% endifequal %}
        <li><a id="reply-{{ comment.id }}-link" class="post-option" href="{% url comment_reply comment.id %}">Reply</a></li>
    </ul>
    <div class="clear"></div>
</li>
