{% load threadedcommentstags %}
{% load i18n %}
{% load sorting_tags %}
{% load dashboard_tags %}
{% load theme_tags %}

{#{% get_threaded_comment_tree for post as comments %}#}
{#{% get_comment_count for post as comment_count %}#}

<div class="discussion-block">
    <div class="discussion-header">
        <span class="discussion-header-text">Discussion</span>
        <span class="discussion-header-count">{{ comments_count }}</span>
    </div>
    <img class="discussion-tail" src="{{ STATIC_URL }}images/discussion_tail.png">
    
    {% if comments %}
        <ul class="post-list comments-list">
            {% for comment in comments %}
                {% show_comment comment %}
            {% endfor %}
        </ul>
    {% else %}
        <div class="no-comments">No comments, yet</div>
    {% endif %}
</div>
