{% extends "dashboard/base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load pagination_tags %}
{% load account_tags %}
{% load object_feeds_tags %}
{% load dashboard_tags %}

{% block breadcrumbs %}
    <li><a href="{% url dashboard %}">Dashboard</a></li>
{% endblock %}

{% block body %}
    <div id="dashboard-feed-block">
        <h1 id="dashboard-feed-title" class="post-title">
            Live Feed
        </h1>
        
        <div id="dashboard-feed">
            {% if subscriptions %}
                {% if updates.paginator.count > 0 %}
                    <ul id="updates-list">
                        {% for update in updates.object_list %}
                            {% show_update update %}
                        {% endfor %}
                    </ul>
                    
                    <div class="pagination">
                        <span class="step-links">
                            Page 
                            {% for page in updates.paginator.page_range %}
                                {% ifequal page updates.paginator.number %}
                                    <span class="current">{{ page }}</span>
                                {% else %}
                                    <a href="?page={{ page }}">{{ page }}</a>
                                {% endifequal %}
                            {% endfor %}
                        </span>
                    </div>
                {% else %}
                    <p>No updates in these feeds yet!</p>
                {% endif %}
            {% else %}
                <p class="no-subscriptions">
                    You are not subscribed to any feeds.
                </p>
            {% endif %}
        </div>
    </div>
        
    <div id="dashboard-subscriptions-block">
        <div id="dashboard-subscriptions-header">My Subscriptions</div>
        
        {% if subscriptions %}
            <ul id="dashboard-subscriptions-list">
                {% for subscription in subscriptions %}
                    <li>
                        <a class="subscription-object-link" href="{{ subscription.feed.feed_object.get_absolute_url }}">
                            {{ subscription.feed.title }}
                        </a>
                        <a class="subscription-edit-button" href="{% url feeds_subscription subscription.id %}">
                            <img src="{{ STATIC_URL }}images/feeds/settings.png" alt="edit">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
