{% load flagtags %}
{% load avatar_tags %}
{% load account_tags %}
{% load theme_tags %}

<div class="meta-box">
    <ul class="stat-boxes">
        <li class="stat-box yeas">
            <div class="stat-name">yeas</div>
            <div class="stat-number">{{ post.yeas }}</div>
            {% if previous_up %}
                <form class="stat-button-form" method="post" action="{{ up_url }}">{% csrf_token %}
                    <input class="button stat-button yea-button stat-clear" type="submit" name="clear" value="clear">
                </form>
            {% else %}
                <form class="stat-button-form" method="post" action="{{ up_url }}">{% csrf_token %}
                    <input class="button stat-button yea-button" type="submit" name="up" value="+">
                </form>
            {% endif %}
        </li>
        <li class="stat-box nays">
            <div class="stat-name">nays</div>
            <div class="stat-number">{{ post.nays }}</div>
            {% if previous_down %}
                <form class="stat-button-form" method="post" action="{{ down_url }}">{% csrf_token %}
                    <input class="button stat-button nay-button stat-clear" type="submit" name="clear" value="clear">
                </form>
            {% else %}
                <form class="stat-button-form" method="post" action="{{ down_url }}">{% csrf_token %}
                    <input class="button stat-button nay-button" type="submit" name="down" value="-">
                </form>
            {% endif %}
        </li>
    </ul>
    
    <div class="post-user">
        {% ifequal the_author "anonymous" %}
            <span class="user-name">Anonymous</span>
        {% else %}
            <a class="user-avatar" href="{{ the_author.get_absolute_url }}">
                {% avatar the_author 40 %}
            </a>
            <a class="user-name" href="{{ the_author.get_absolute_url }}">{% user_display the_author %}</a>
        {% endifequal %}
        <div class="post-date">
            {{ datetime|date:"P M d, Y" }}
        </div>
    </div>

    <a class="post-permalink-link" href="{{ permalink }}">link</a>
    <a class="post-flag-link" id="flag-{{ post_type.id }}-{{ post.id }}-link" href="">flag</a>
    
    <div class="flag-form-wrapper" id="flag-{{ post_type.id }}-{{ post.id }}">
        {% flag post author_field %}
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#flag-{{ post_type.id }}-{{ post.id }}-link").click(function(e) {
                $("#flag-{{ post_type.id }}-{{ post.id }}").slideToggle(500);
                return false;
            });
        });
    </script>
</div>
