{% load flagtags %}
{% load avatar_tags %}
{% load account_tags %}
{% load theme_tags %}

<div class="meta-box">
    <ul class="stat-box-list">
        <li class="stat-box yeas">
            <div class="stat-name">yeas</div>
            <div class="stat-number">{{ post.yeas }}</div>
            {% if previous_up %}
                <form class="stat-button-form" method="post" action="{{ up_url }}">{% csrf_token %}
                    <input class="button stat-button yea-button stat-clear" type="submit" name="clear" value="clear">
                </form>
            {% else %}
                <form class="stat-button-form" method="post" action="{{ up_url }}">{% csrf_token %}
                    <input class="button stat-button yea-button" type="submit" name="up" value="+ yea">
                </form>
            {% endif %}
        </li>
        <li class="stat-box nays">
            <div class="stat-name">nays</div>
            <div class="stat-number">{{ post.nays }}</div>
            {% if previous_down %}
                <form class="stat-button-form" method="post" action="{{ down_url }}">{% csrf_token %}
                    <input class="button stat-button nay-button stat-clear" type="submit" name="clear" value="clear">
                </form>
            {% else %}
                <form class="stat-button-form" method="post" action="{{ down_url }}">{% csrf_token %}
                    <input class="button stat-button nay-button" type="submit" name="down" value="+ nay">
                </form>
            {% endif %}
        </li>
        {% if comments_count >= 0 %}
            <li class="stat-box comments">
                <div class="stat-name">comments</div>
                <div class="stat-number">{{ comments_count }}</div>
            </li>
        {% endif %}
        {% if followers_count >= 0 %}
            <li class="stat-box followers">
                <div class="stat-name">followers</div>
                <div class="stat-number">{{ followers_count }}</div>
            </li>
        {% endif %}
    </ul>
    
    {% if is_issue %}
        <div class="post-status-block">
            <div class="post-status-header">status</div>
            <div class="post-status">
                {% if post.resolved %}
                    <img src="{{ STATIC_URL }}images/resolved.png"> resolved
                {% else %}
                    <img src="{{ STATIC_URL }}images/unresolved.png"> unresolved
                {% endif %}
            </div>
        </div>
    {% endif %}
    
    <div class="post-user-block">
        {% ifequal the_author "anonymous" %}
            <span class="anonymous-user post-user-name">Anonymous</span>
        {% else %}
            <a class="post-user-link" href="{{ the_author.get_absolute_url }}">
                <div class="user-avatar">
                    {% avatar the_author 40 %}
                </div>
                <span class="post-user-name">{% user_display the_author %}</span>
                <div class="clear"></div>
            </a>
        {% endifequal %}
    </div>
    
    <div class="post-date">
        {{ datetime|date:"P M d, Y" }}
    </div>

    <a class="post-option post-permalink" href="{{ permalink }}">link</a>
    <a class="post-option post-flag-link" id="flag-{{ post_type.id }}-{{ post.id }}-link" href="">flag</a>
    
    <div class="flag-form-wrapper" id="flag-{{ post_type.id }}-{{ post.id }}">
        {% flag post author_field %}
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#flag-{{ post_type.id }}-{{ post.id }}-link").click(function(e) {
                $("#flag-{{ post_type.id }}-{{ post.id }}").slideToggle(500);
                return false;
            });
        });
    </script>
</div>
