{% load account_tags %}
{% load threadedcommentstags %}

<div class="preview-meta-box">
    <ul class="stat-boxes">
        <li class="stat-box yeas">
            <div class="stat-name">yeas</div>
            <div class="stat-number">{{ post.yeas }}</div>
        </li>
        <li class="stat-box nays">
            <div class="stat-name">nays</div>
            <div class="stat-number">{{ post.nays }}</div>
        </li>
        {% if comments_count >= 0 %}
            <li class="stat-box comments">
                <div class="stat-name">comments</div>
                <div class="stat-number">{{ comments_count }}</div>
            </li>
        {% endif %}
        {% if followers_count >= 0 %}
            <li class="stat-box followers">
                <div class="stat-name">followers</div>
                <div class="stat-number">{{ followers_count }}</div>
            </li>
        {% endif %}
    </ul>
    <div class="clear"></div>
    
    {% if show_author %}
        <div class="post-user-block">
            {% ifequal the_user "anonymous" %}
                <span class="anonymous-user post-user-name">Anonymous</span>
            {% else %}
                <a class="post-user-link" href="{{ the_user.get_absolute_url }}">
                    <span class="post-user-name">{% user_display the_user %}</span>
                </a>
            {% endifequal %}
        </div>
    {% endif %}
    
    <div class="post-date">
        {{ datetime|date:"P M d, Y" }}
    </div>
    
    {% if post.disciplines.any %}
        <ul class="post-disciplines">
            {% for discipline in issue.disciplines.all %}
                <li><a href="{{ discipline.get_absolute_url }}">{{ discipline }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
