{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load ifsetting_tag %}
{% load account_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url acct_email %}">Account</a></li>
    <li><a href="{{ request.path }}">Login</a></li>
{% endblock %}

{% block body %}
    <div id="login-page-box">
        <h1>{% trans "Log In" %}</h1>
    
        {% if user.is_authenticated %}
            {% user_display user as user_display %}
            <p>
                <span class="warning">{% trans "Note" %}</span>:
                {% blocktrans %}
                    you are already logged in as {{ user_display }}.
                {% endblocktrans %}
            </p>
        {% else %}
            {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>
                {% blocktrans %}
                    Don't have an account? <a href="{{ signup_url }}">Sign up</a>!
                {% endblocktrans %}
            </p>
            {% endifsetting %}
        {% endif %}
        
        {% url acct_password_reset as reset_url %}
        <p>
            <a href="{{ reset_url }}">Forgot password?</a>
        </p>
        
        <form class="login uniForm" method="POST" action="{% url acct_login %}">
            {% csrf_token %}
            <fieldset class="inlineLabels">
                {{ form|as_uni_form }}
                <div class="form_block">
                    <input type="submit" value="{% trans "Log in &raquo;" %}" />
                </div>
            </fieldset>
        </form>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_username").focus();
    </script>
{% endblock %}
