{% extends "issues/issue_base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}Invite: {{ issue.title }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url issue_list %}">Issues</a></li>
    <li><a href="{{ issue.get_absolute_url }}">{{ issue.title }}</a></li>
    <li><a href="{{ request.path }}">Invite Contributors</a></li>
{% endblock %}

{% block body %}

{% ifequal issue.creator user %}
    <form class="uniForm" method="POST" action="">{% csrf_token %}
        <fieldset class="inlineLabels">
            {{ invite_form|as_uni_form }}
            <div class="form_block">
                <input type="submit" value="Invite"/>
            </div>
        </fieldset>
    </form>
{% else %}
    <p>You cannot edit this post because you are not the post's creator.</p>
{% endifequal %}

{% endblock body %}
