{% load i18n %}
{% load issues_tags %}
{% load tagging_tags %}
{% load dashboard_tags %}

<li class="list-item post-preview">
   
    <a class="post-title" href="{{ issue.get_absolute_url }}">
        {{ issue.title }}
    </a>
    
    {% post_meta_summary issue %}
    
    <div class="list-post-information">
        <div class="list-post-content">
            {{ issue.description|truncatewords_html:100|safe }}
        </div>
        
        <a class="more-link list-post-continue" href="{{ issue.get_absolute_url }}">
            continue reading
        </a>
        
        <div class="post-taxonomy">
            <div class="post-tags-list">
                <span>Tagged with:</span>
                {% tags_for_object issue as tags %}
                {% if tags %}
                    {% for tag in tags %}
                        <a href="{#{% url issue_tag_detail tag %}#}">{{ tag }}</a>
                    {% endfor %}
                {% else %}
                    No tags.
                {% endif %}
            </div>
        </div>
    </div>
    <div class="clear"></div>
</li>
