{% extends "issues/issue_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load threadedcommentstags %}
{% load tagging_tags %}
{% load issues_tags %}
{% load dashboard_tags %}
{% load account_tags %}
{% load object_feeds_tags %}
{% load people_tags %}
{% load papers_tags %}

{% block head_title %}Issue: {{ issue.title }}{% endblock %}

{% block head_extra %}
    {{ comment_form.media }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url issue_list %}">Issues</a></li>
    <li><a href="{{ request.path }}">{{ issue.title }}</a></li>
{% endblock %}

{% block body %}
    <div id="detail-sidebar">
        <a id="issue-follow-button" class="big-button" href="{% url feeds_subscription issue.feed.id %}" >
            {% if following %}
                Follow Settings
            {% else %}
                + Follow Issue
            {% endif %}
        </a>
        
        {% post_meta issue %}
        
        <div class="clear"></div>
        
        {% if issue.private %}
            <span class="private">private</span>
        {% endif %}
        
        {% ifequal issue.creator request.user %}
            <form class="privacy-form uniForm" id="privacy-issue" method="POST" action="">{% csrf_token %}
                <fieldset class="inlineLabels">
                    {{ privacy_form|as_uni_form }}
                    <div class="form_block">
                        <input type="submit" value="{% trans 'Apply' %}"/>
                    </div>
                </fieldset>
            </form>
        {% endifequal %}
        
        <div class="post-taxonomy-box">
            <div class="post-taxonomy-header">Posted under</div>
            {% if issue.disciplines.all %}
                <ul class="post-taxonomy-list post-disciplines-list">
                    {% for discipline in issue.disciplines.all %}
                        <li><a href="{{ discipline.get_absolute_url }}">{{ discipline }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="no-disciplines">No disciplines</div>
            {% endif %}
        </div>
        
        <div class="post-taxonomy-box">
            <div class="post-taxonomy-header">Tags</div>
            {% tags_for_object issue as tags %}
            {% if tags %}
                <ul class="post-taxonomy-list post-tags-list">
                    {% for tag in tags %}
                        <li><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="no-tags">No tags</div>
            {% endif %}
        </div>
    </div>
    
    <div id="post-content-block">
        <h1 class="post-title">
            {{ issue.title }}
        </h1>
        
        <div class="post-content">
            {{ issue.description|safe }}
        </div>
        
        <div class="issue-paper-block">
            <div class="issue-paper-header">Papers</div>
            {% if issue.papers %}
                <ul class="issue-paper-list">
                    {% for paper in issue.papers.all %}
                        {% paper_preview paper %}
                    {% endfor %}
                </ul>
            {% else %}
                <div class="no-papers">No papers, yet.</div>
            {% endif %}
            
            <a id="issue-paper-add" class="big-button" href="{% add_paper_url issue %}">
                + Add a paper
            </a>
        </div>
    </div>
    
    {% comment_list issue %}
    
    <div class="comment-form-wrapper">
        <p class="add-to-discussion">
            Add to the discussion on this issue:
        </p>
        {% if user.is_authenticated %}
        <form class="comment-form uniForm" id="issue-comment-form" method="POST" action="{% get_comment_url issue %}">{% csrf_token %}
            <fieldset class="inlineLabels">
                {{ comment_form|as_uni_form }}
                <div class="form_block">
                    <input type="hidden" name="action" value="comment" />
                    <input type="submit" value="{% trans 'Comment on Issue' %}"/>
                </div>
            </fieldset>
        </form>
        {% else %}
            <h3>Please <a href="{% url acct_login %}">Login</a> (or <a href="{% url acct_signup %}">Sign Up</a>) to leave a comment.</h3>
        {% endif %}
    </div>
{% endblock %}
