{% load issues_tags %}
{% load tagging_tags %}
{% load dashboard_tags %}

<li class="list-item post-preview">
    
    {% post_meta_summary issue %}
    
    <div class="list-post-block">
        <a class="list-post-title" href="{{ issue.get_absolute_url }}">
            {{ issue.title }}
        </a>
        
        <div class="list-post-content">
            {{ issue.description|truncatewords_html:70|safe }}
        </div>
        
        <a class="more-link list-post-continue" href="{{ issue.get_absolute_url }}">
            continue reading &rsaquo;
        </a>
        
        {% if issue.disciplines %}
            <div class="post-disciplines-list">
                Posted under
                {% for discipline in issue.disciplines.all %}
                    {% filter_link request "discipline" discipline.slug discipline.name %}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        
        {% tags_for_object issue as tags %}
        {% if tags %}
            <ul class="post-tags-list">
                {% for tag in tags %}
                    <li>
                        {% filter_link request "tag" tag.id tag.name %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</li>
