{% extends "issues/base.html" %}

{% load i18n %}
{% load issues_tags %}
{% load sorting_tags %}

{% block head_title %}{% blocktrans %}Issues{% endblocktrans %}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url issue_list %}">Issues</a></li>
{% endblock %}

{% block actions %}
    <li class="search-form-wrapper right-action">
        <form class="search-form" method="GET" action="">
            <input id="search-input" type="text" name="search" class="side-input" value="{{ search_terms }}" />
            <input id="search-button" type="submit" value="Search Issues" />
            {% if search_terms %}
                <a href="{% clear_search_url request %}">Clear Search Terms</a>
            {% endif %}
        </form>
    </li>
    
    {% if user.is_authenticated %}
        <li class="left-action">
            <a href="{% url issue_create %}">Compose new Issue</a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    <h1 class="list-title">
        {{ list_title }}
        {% if search_terms %}
            with keywords "{{ search_terms }}"
        {% endif %}
        <span>({{ issues.paginator.count }} results)</span>
    </h1>
        
    <div class="sorting-wrapper">
        <ul class="list-sorting">
            <li>Sort by:</li>
            <li>{% anchor created "date" %}</li>
            <li>{% anchor yeas "yeas" %}</li>
            <li>{% anchor nays "nays" %}</li>
        </ul>
        <div class="clear"></div>
    </div>
    
    <div class="pagination">
        <span class="step-links">
            {% if issues.has_previous %}
                <a href="?page={{ issues.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ issues.number }} of {{ issues.paginator.num_pages }}
            </span>

            {% if issues.has_next %}
                <a href="?page={{ issues.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    
    <div class="list-sidebar">
        
    </div>
    
    <ul class="post-list issues">
        {% if issues.paginator.count > 0 %}
            {% for issue in issues.object_list %}
                {% show_issue issue %}
            {% endfor %}
        {% else %}
            {% if mine %}
                <li class="list-item no-results">
                    You haven't contributed to any issues yet.
                </li>
            {% else %}
                <li class="list-item no-results">
                    No issues match your filters. Please broaden your search or create a new issue.
                </li>
            {% endif %}
        {% endif %}
    </ul>
    
    
{% endblock %}
