{% load issues_tags %}
{% load tagging_tags %}
{% load dashboard_tags %}

<li class="list-item post-preview">
    
    {% post_meta_summary issue %}
    
    <div class="list-post-block">
        <a class="list-post-title" href="{{ issue.get_absolute_url }}">
            {{ issue.title }}
        </a>
        
        <div class="list-post-content">
            {{ issue.description|truncatewords_html:70|safe }}
        </div>
        
        <a class="more-link list-post-continue" href="{{ issue.get_absolute_url }}">
            continue reading &rsaquo;
        </a>
        
        <div class="post-disciplines-list">
            Posted under
            {% if issue.disciplines.all %}
                {% for discipline in issue.disciplines.all %}
                    {% filter_link request "discipline" discipline.slug discipline.name %}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                <span class="post-no-disciplines">no disciplines</span>
            {% endif %}
        </div>
        
        {% tags_for_object issue as tags %}
        {% if tags %}
            <ul class="post-tags-list">
                {% for tag in tags %}
                    <li>
                        {% filter_link request "tag" tag.id tag.name %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <span class="post-no-tags">no tags</span>
        {% endif %}
        
        {% if extras %}
            <ul class="post-extras-list">
                {% if issue.private %}
                    <li class="post-sticker private-sticker">{% filter_link request "private" 1 "private" %}</li>
                {% endif %}
                {% if issue.sandbox %}
                    <li class="post-sticker sandbox-sticker">{% filter_link request "sandbox" 1 "sandbox" %}</li>
                {% endif %}
                {% if issue.model_project %}
                    <li class="post-sticker model-project-sticker">{% filter_link request "model_project" 1 "model project" %}</li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</li>
