{% extends "issues/base.html" %}

{% load i18n %}

{% block actions %}
    {% if user.is_authenticated %}
        {% ifequal issue.creator user %}
            {% if not issue.resolved %}
                <li class="left-action">
                    <a href="{% url issue_resolve issue.slug %}">Resolve</a>
                </li>
            {% endif %}
            <li class="right-action">
                <a href="{% url issue_delete issue.slug %}">Delete</a>
            </li>
            <li class="right-action">
                <a href="{% url issue_edit issue.slug %}">Edit</a>
            </li>
        {% endifequal %}
        <li class="right-action">
            <a href="{% url issue_invite issue.slug %}">Invite Contributors</a>
        </li>
    {% else %}
        Sign in to access actions.
    {% endif %}
{% endblock %}
