{% load flagtags %}
{% load avatar_tags %}
{% load account_tags %}
{% load theme_tags %}
{% load tagging_tags %}

<div class="meta-wrapper">
    <div class="post-meta">
        <div class="resolution-tag {{ status }}">
            {{ status }}
        </div>
        
        <ul class="vote-boxes">
            <li class="vote-box yeas">
                <div class="vote-name">yeas</div>
                <div class="vote-number">{{ issue.yeas }}</div>
                {% ifequal previous_vote.vote 1 %}
                    <a class="vote-link vote-yea vote-clear" href="{% url issue_vote issue.id "clear" %}">clear</a>
                {% else %}
                    <a class="vote-link vote-yea" href="{% url issue_vote issue.id "up" %}">+</a>
                {% endifequal %}
            </li>
            <li class="vote-box nays">
                <div class="vote-name">nays</div>
                <div class="vote-number">{{ issue.nays }}</div>
                {% ifequal previous_vote.vote -1 %}
                    <a class="vote-link vote-nay vote-clear" href="{% url issue_vote issue.id "clear" %}">clear</a>
                {% else %}
                    <a class="vote-link vote-nay" href="{% url issue_vote issue.id "down" %}">-</a>
                {% endifequal %}
            </li>
        </ul>
        <div class="clear"></div>
        
        <div class="post-user">
            <a class="user-avatar" href="{{ issue.creator.get_absolute_url }}">
                {% avatar issue.creator 40 %}
            </a>
            <a class="user-name" href="{{ issue.creator.get_absolute_url }}">{% user_display issue.creator %}</a>
            <div class="clear"></div>
            <div class="post-date">
                {{ issue.created|date:"M d, Y P" }}
            </div>
        </div>
        
        <a class="post-permalink-link" href="{{ issue.get_absolute_url }}">link</a>
        <a class="post-flag-link" id="flag-issue-{{ issue.id }}-link" href="">flag</a>
        <div class="flag-form-wrapper" id="flag-issue-{{ issue.id }}">
            {#{% flag issue "creator" %}#}
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#flag-issue-{{ issue.id }}-link").click(function(e) {
                    $("#flag-issue-{{ issue.id }}").toggle("slide", {}, 500);
                    return false;
                });
            });
        </script>
    </div>
    
    <div class="tags-wrapper">
        <div class="tags-header">{% silk "book_open" %} Disciplines</div>
        
        <ul class="tag-list">
            {% if issue.disciplines.all %}
                {% for discipline in issue.disciplines.all %}
                    <li><a href="{{ discipline.get_absolute_url }}">{{ discipline }}</a></li>
                {% endfor %}
            {% else %}
                <li>None</li>
            {% endif %}
        </ul>
    </div>
    
    <div class="tags-wrapper">
        <div class="tags-header">{% silk "tag_blue" %} Tags</div>
        
        <ul class="tag-list">
            {% tags_for_object issue as tags %}
            {% if tags %}
                {% for tag in tags %}
                    <li><a href="{#{% url issue_tag_detail tag %}#}">{{ tag }}</a></li>
                {% endfor %}
            {% else %}
                <li>None</li>
            {% endif %}
        </ul>
    </div>
    
    <div class="contributor-list-wrapper">
        <div class="contributor-list-title">Top Contributors</div>
        
        <ul class="contributor-list">
            {% for contributor in top_contributors %}
            <li>
                <span class="contribution-number">{{ contributor.contributions }}</span>
                <span class="contributor-name">
                    <a href="{{ contributor.user.get_absolute_url }}">
                        {{ contributor.user.get_profile }}
                    </a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
