{% extends "people/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load order_by %}
{% load sorting_tags %}
{% load people_tags %}

{% block head_title %}{% blocktrans %}People{% endblocktrans %}{% endblock %}

{% autosort researchers %}
{% autopaginate researchers 10 %}

{% block breadcrumbs %}
    <li><a href="{% url researcher_list %}">Researchers</a></li>
{% endblock %}

{% block actions %}
    <li class="search-form-wrapper">
        <form class="search-form" method="GET" action="">
            <input id="search-input" type="text" name="search" class="side-input" value="{{ search_terms }}" />
            <input id="search-button" type="submit" value="Search People" />
            {% if search_terms %}
                <a href="{% clear_search_url request %}">Clear Search Terms</a>
            {% endif %}
        </form>
    </li>
{% endblock %}

{% block body %}
    <div class="list-title-wrapper">
        <h1 class="list-title">
            {{ list_title }}
            {% if search_terms %}
                with keywords "{{ search_terms }}"
            {% endif %}
            <span>({{ issues.count }} results)</span>
        </h1>
        
        <div class="sorting-wrapper">
            <ul class="list-sorting">
                <li>Sort by:</li>
                <li>{% anchor name "name" %}</li>
                <li>{% anchor user__date_joined "date joined" %}</li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    
    <ul class="post-list researchers">
            
        {% if researchers %}
            {% for researcher in researchers %}
                {% show_researcher researcher %}
            {% endfor %}
        {% else %}
            <li class="list-item-wrapper no-results">
                No researchers match your filters. Please broaden your search.
            </li>
        {% endif %}
    </ul>
    <div class="clear"></div>
            
    {% paginate %}

{% endblock %}
