{% extends "papers/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load threadedcommentstags %}
{% load issues_tags %}
{% load account_tags %}
{% load papers_tags %}

{% block head_title %}Paper History: {{ paper.title }}{% endblock %}

{% block breadcrumbs %}
    {% if paper.content_object %}
       <li><a href="{{ paper.content_object.get_absolute_url }}">{{ paper.content_object }}</a></li>
    {% endif %}
    <li>papers</li>
    <li><a href="{{ paper.get_absolute_url }}">{{ paper }}</a></li>
    <li><a href="{{ request.path }}">History</a></li>
{% endblock %}

{% block actions %}
    {% if user.is_authenticated %}
        <li class="add-page">
            <a href="{% url paper_detail paper.id %}">&laquo; Back to Paper</a>
        </li>
    {% else %}
        Sign in to access actions.
    {% endif %}
    
{% endblock %}


{% block body %}
    <div class="post-title-wrapper">
        <div class="post-title">
            History for Paper: {{ paper.title }}
        </div>
    </div>
    
    <table>
        <tr class="tbheader">
            <th>Revert to Revision #</th>
            <th>At</th>
            <th>Author</th>
            <th>Comment</th>
        </tr>
        {% for change in changes %}
        <tr class="{% cycle 'tbodd' 'tbeven' %}">
            <td>
                <a href="{% url paper_revert paper.id change.revision %}">
                    {{ change.revision }}
                    {% if forloop.first %}
                        (Current version)
                    {% endif %}
                </a>
        	<td>
        	    <a href="{{ change.get_absolute_url }}">
        	        {{ change.modified|date:"M d, Y" }}
    	        </a>
            </td>
        	<td>
                <a href="">{% user_display change.editor %}</a>
            </td>
            <td>
                {% if change.comment %}<i>'{{ change.comment}}'</i>{% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}
