{% extends "summaries/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% blocktrans %}Create a summary{% endblocktrans %}{% endblock %}

{% block head_extra %}
    {{ summary_form.media }}
{% endblock %}

{% block breadcrumbs %}
    {% if summary.content_object %}
        <li><a href="{{ summary.content_object.get_absolute_url }}">{{ summary.content_object }}</a></li>
    {% endif %}
    <li>Summaries</li>
    <li><a href="{{ request.path }}">Create a summary</a></li>
{% endblock %}

{% block body %}
    <h1>Create a summary{% if content_object %} linked to <a href="{{ content_object.get_absolute_url }}">{{ content_object }}</a>{% endif %})</h1>
    
    {% if user.is_authenticated %}
        <form class="uniForm" id="summary_form" method="POST" action="">{% csrf_token %}
            <fieldset class="inlineLabels">
                {{ summary_form|as_uni_form }}
                <div class="form_block">
                    <input type="submit" value="Create new summary"/>
                </div>
            </fieldset>
        </form>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in</a> to create your own project or join an existing one.{% endblocktrans %}</p>
    {% endif %}
    
{% endblock %}
