{% extends "summaries/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% blocktrans %}Revise summary{% endblocktrans %}{% endblock %}

{% block head_extra %}
    {{ summary_form.media }}
{% endblock %}

{% block breadcrumbs %}
    <li>summarys</li>
    <li><a href="{{ summary.get_absolute_url }}">{{ summary }}</a></li>
    <li><a href="{{ request.path }}">Edit</a></li>
{% endblock %}

{% block body %}
    <h1>Revise the summary {{ summary }}</h1>
    
    {% if user.is_authenticated %}
        <form class="uniForm" id="summary_form" method="POST" action="">{% csrf_token %}
            <fieldset class="inlineLabels">
                {{ summary_form|as_uni_form }}
                <div class="form_block">
                    <input type="submit" value="Submit Revision"/>
                </div>
            </fieldset>
        </form>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in</a> to create your own project or join an existing one.{% endblocktrans %}</p>
    {% endif %}
    
{% endblock %}
