{% extends "summaries/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load threadedcommentstags %}
{% load account_tags %}
{% load dashboard_tags %}
{% load object_feeds_tags %}
{% load theme_tags %}

{% block head_title %}{{ summary.title }}{% endblock %}

{% block head_extra %}
    {{ comment_form.media }}
{% endblock %}

{% block breadcrumbs %}
    {% if summary.content_object %}
        <li><a href="{{ summary.content_object.get_absolute_url }}">{{ summary.content_object }}</a></li>
    {% endif %}
    <li>Summaries</li>
    <li><a href="{{ summary.get_absolute_url }}">{{ summary }}</a></li>
{% endblock %}

{% block actions %}
    {% if user.is_authenticated %}
        <li class="right">
            {% follow_link summary %}
        </li>
        <li class="left">
            <a href="{% url summary_history summary.id %}">View Summary History</a>
        </li>
    {% else %}
        Sign in to access actions.
    {% endif %}
    
{% endblock %}


{% block body %}
    <div class="post-title-wrapper">
        <div class="post-title">
            {{ summary.title }}
        </div>
    </div>
    
    {% post_meta summary %}
    
    <div id="description" class="post-wrapper">
        <div class="post-content">
            {{ summary.content|safe }}
        </div>

        <ul class="post-buttons">
            <li><a class="post-option" href="{% url summary_edit summary.id %}">{% silk "page_edit" %} Edit</a></li>
            {% ifequal user summary.creator %}
                <li><a class="post-option" href="{% url summary_delete summary.id %}">{% silk "page_edit" %} Delete</a></li>
            {% endifequal %}
        </ul>
        
        <div class="clear"></div>
        
        {% comment_list summary %}
        
        <div class="comment-form-wrapper">
            {% if user.is_authenticated %}
            <form class="comment-form uniForm" id="comment-form" method="POST" action="{% get_comment_url summary %}">{% csrf_token %}
                <fieldset class="inlineLabels">
                    {{ comment_form|as_uni_form }}
                    <div class="form_block">
                        <input type="hidden" name="action" value="comment" />
                        <input type="submit" value="{% trans 'Comment on Summary' %}"/>
                    </div>
                </fieldset>
            </form>
            {% else %}
                <h3>Please <a href="{% url acct_login %}">Login</a> (or <a href="{% url acct_signup %}">Sign Up</a>) to leave a comment.</h3>
            {% endif %}
        </div>
    
    </div>
{% endblock %}
