{% extends "people/base.html" %}

{% load i18n %}
{% load sorting_tags %}
{% load people_tags %}
{% load issues_tags %}

{% block head_title %}{% blocktrans %}Researchers{% endblocktrans %}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url researcher_list %}">Researchers</a></li>
    {% if the_discipline and the_tag %}
        <li><a href="{% remove_filter_url request "tag" %}">{{ the_discipline }}</a></li>
        <li><a href="{{ request.get_full_path }}">{{ the_tag }}</a></li>
    {% else %}
        {% if the_discipline %}
            <li><a href="{{ request.get_full_path }}">{{ the_discipline }}</a></li>
        {% endif %}
        {% if the_tag %}
            <li><a href="{{ request.get_full_path }}">{{ the_tag }}</a></li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block actions %}
    <li class="search-form-wrapper right-action">
        <form class="search-form" method="GET" action="">
            <input id="search-input" type="text" name="search" class="side-input" value="{% if search_terms %}{{ search_terms }}{% else %}Search Researchers{% endif %}" />
            <input id="search-button" type="image" src="{{ STATIC_URL }}images/search_button.png" value="Search Researchers" />
            {% if search_terms %}
                <a href="{% clear_search_url request %}">Clear Search Terms</a>
            {% endif %}
        </form>
    </li>
{% endblock %}

{% block body %}
    <div id="list-sidebar">
        <div id="sorting-wrapper" class="filter-wrapper">
            <div class="filter-header">Sort by</div>
            <ul class="filter-list">
                <li>{% anchor name "name" %}</li>
                <li>{% anchor date "date joined" %}</li>
            </ul>
        </div>
        
        <div id="discplines-wrapper" class="filter-wrapper">
            <div class="filter-header">By expertise</div>
            
            {% if the_discipline %}
                {% if not the_discipline.is_root_node %}
                    <a class="filter-parent" href="{% filter_url request "discipline" the_discipline.parent.slug %}">{{ the_discipline.parent.name|truncatechar:10 }}</a>
                {% endif %}
                
                <div id="set-discipline" class="set-filter">
                    {{ the_discipline }}
                    <a href="{% remove_filter_url request "discipline" %}">
                        <img class="remove-filter-button" src="{{ STATIC_URL }}images/feeds/delete.png" alt="remove">
                    </a>
                </div>
            {% endif %}
            
            {% if discipline_filters %}
                <ul class="filter-list">
                    {% for discipline in discipline_filters %}
                        <li><a href="{% filter_url request "discipline" discipline.slug %}">{{ discipline.name|truncatechar:20 }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="no-filters">
                    No children disciplines
                </div>
            {% endif %}
        </div>
        
        <div id="interests-wrapper" class="filter-wrapper">
            <div class="filter-header">By interest</div>
            
            {% if the_tag %}
                <div class="set-filter">
                    {{ the_tag }}
                    <a href="{% remove_filter_url request "tag" %}">
                        <img class="remove-filter-button" src="{{ STATIC_URL }}images/feeds/delete.png" alt="remove">
                    </a>
                </div>
            {% endif %}
            
            {% if tag_filters %}
                <ul class="filter-list">
                    {% for tag in tag_filters %}
                        <li>{% filter_link request "tag" tag.id tag.name%}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="no-filters">
                    {% if the_tag %}
                        No related tags.
                    {% else %}
                        No tags on these objects.
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    
    <div id="list-block">
        <h1 class="list-title">
            {{ list_title }}
            {% if search_terms %}
                with keywords "{{ search_terms }}"
            {% endif %}
        </h1>
        <div class="list-count">
            ({{ researchers.paginator.count }} results)
        </div>
        
        <ul class="post-list researchers">
            {% if researchers.paginator.count > 0 %}
                {% for researcher in researchers.object_list %}
                    {% show_researcher researcher %}
                {% endfor %}
            {% else %}
                <li class="list-item no-results">
                    No researchers match your filters. Please broaden your search.
                </li>
            {% endif %}
        </ul>
        
        <div class="pagination">
            <span class="step-links">
                Page 
                {% for page in researchers.paginator.page_range %}
                    {% ifequal page researchers.paginator.number %}
                        <span class="current">{{ page }}</span>
                    {% else %}
                        <a href="?page={{ page }}">{{ page }}</a>
                    {% endifequal %}
                {% endfor %}
            </span>
        </div>
    </div>
{% endblock %}
