{% extends "people/base.html" %}

{% load issues_tags %}
{% load avatar_tags %}
{% load account_tags %}
{% load object_feeds_tags %}
{% load tagging_tags %}

{% block head_title %}{{ researcher }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url researcher_list %}">Researchers</a></li>
    <li><a href="{{ request.path }}">{{ researcher.name }}</a></li>
{% endblock %}

{% block actions %}
    <li class="right-action">
        <a href="{% url dashboard the_user.username %}">{{ researcher.name }}'s Dashboard</a>
    </li>
    {% ifequal request.user the_user %}
        <li class="right-action">
            <a href="{% url researcher_edit %}">Edit my profile</a>
        </li>
    {% endifequal %}
{% endblock %}

{% block body %}
    <div id="profile-sidebar">
        <h1 class="post-title profile-title">
            {{ researcher.name }}
        </h1>
        
        <div class="profile-avatar">
            {% avatar the_user 150 %}
        </div>
        
        <a id="researcher-follow-button" class="big-button" href="{% url feeds_subscription researcher.feed.id %}" >
            {% if following %}
                Follow Settings
            {% else %}
                + Follow Researcher
            {% endif %}
        </a>
        
        <div id="profile-followers" class="profile-sidebar-block">
            {{ researcher.followers_count }} followers
        </div>
        
        <div id="profile-membership" class="profile-sidebar-block">
            Member since<br>
            {{ the_user.date_joined|date:"M d, Y" }}
        </div>
        
        {% if researcher.expertise %}
            <div id="profile-expertise" class="profile-sidebar-block">
                Primary expertise:<br>
                <a href="{{ researcher.expertise.get_absolute_url }}">{{ researcher.expertise }}</a>
            </div>
        {% endif %}
        
        {% if researcher.website %}
            <div id="profile-website" class="profile-sidebar-block">
                Website:<br>
                <a href="{{ researcher.website }}">{{ researcher.website }}</a>
            </div>
        {% endif %}
        
        {% tags_for_object researcher as tags %}
        {% if tags %}
            <div id="profile-interests" class="profile-sidebar-block">
                Research Interests:<br>
                <ul class="post-taxonomy-list post-tags-list">
                    {% for tag in tags %}
                        <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% if researcher.occupation %}
            <div id="profile-occupation" class="profile-sidebar-block">
                Occupation:<br>
                {{ researcher.get_occupation_display }}
            </div>
        {% endif %}
    </div>
    
    <div id="profile-content-block">
        <div id="profile-about-block">
            <div id="profile-about-header" class="profile-content-header">About</div>
            
            <div id="profile-about">
                {{ researcher.about|safe }}
            </div>
        </div>
        
        <div id="profile-activity-block">
            <div id="profile-activity-header" class="profile-content-header">Latest Activity</div>
            
            <div id="profile-activity-content">
                {% if updates.paginator.count > 0 %}
                    <ul id="updates-list">
                        {% for update in updates.object_list %}
                            {% show_update update %}
                        {% endfor %}
                    </ul>
                    
                    <div class="pagination">
                        <span class="step-links">
                            Page 
                            {% for page in updates.paginator.page_range %}
                                {% ifequal page updates.paginator.number %}
                                    <span class="current">{{ page }}</span>
                                {% else %}
                                    <a href="?page={{ page }}">{{ page }}</a>
                                {% endifequal %}
                            {% endfor %}
                        </span>
                    </div>
                {% else %}
                    <p>No activity, yet.</p>
                {% endif %}
            </div>
        </div>
        
        <div id="profile-contributions-block">
            <div id="profile-contributions-header" class="profile-content-header">Overall Contributions</div>
            
            <div id="profile-contributions-content">
                
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock body %}
