{% extends "site_base.html" %}

{% block head_title %}Contact the Staff{% endblock %}

{% block body_class %}contact{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url home %}">Home</a></li>
    <li><a href="{% url about %}">About</a></li>
    <li><a href="{{ request.path }}">Contact</a></li>
{% endblock %}

{% block body %}
    <div id="about">
        <h1 class="about-title">We'd love to hear from you!</h1>
        
        <p>
            Feature suggestion, bug reporting, or other feedback about the website?
            Head to our nifty <a href="{% url feedback_list %}">feedback system</a>.
        </p>
        
        <p>
            Want to help make the web better for science?
            Email Founder & Chief Architect Casey at <a href="mailto:admin@colabscience.com">admin@colabscience.com</a>.
        <p>
            Media requests? Email DJ at <a href="mailto:djstrouse@colabscience.com">djstrouse@colabscience.com</a>.
        </p>
        
        <p>
            Any other questions or comments? You can <a href="http://twitter.com/colabscience">tweet us</a> too.
        </p>
    </div>
{% endblock %}
