{% extends "feedback/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load pagination_tags %}
{% load feedback_tags %}
{% load theme_tags %}

{% block head_title %}{% blocktrans %}Feedback{% endblocktrans %}{% endblock %}

{% autopaginate feedbacks 10 %}

{% block breadcrumbs %}
    <li><a href="{% url feedback_list %}">Feedback</a></li>
{% endblock %}

{% block actions %}
    <li class="search-form-wrapper">
        <form class="search-form" method="GET" action="">
            <input id="search-input" type="text" name="search" class="side-input" value="{{ search_terms }}" />
            <input id="search-button" type="submit" value="Search Feedback" />
            {% if search_terms %}
                <a href="{% clear_search_url request %}">Clear Search Terms</a>
            {% endif %}
        </form>
    </li>
    
    <li class="add-item">
        <a href="{% url feedback_submit %}">{% silk "bug_add" %} Submit Feedback</a>
    </li>
{% endblock %}

{% block body %}
    <div class="list-title-wrapper">
        <h1 class="list-title">
            {{ list_title }}
            {% if search_terms %}
                with keywords "{{ search_terms }}"
            {% endif %}
            <span>({{ feedbacks.count }} results)</span>
        </h1>
    </div>
    
    <ul class="post-list feedback">
        {% if feedbacks %}
            {% for feedback in feedbacks %}
                {% show_feedback feedback %}
                <div class="clear"></div>
            {% endfor %}
        {% else %}
            {% if mine %}
                <li class="list-item no-results">
                    You haven't submitted any feedback yet.
                </li>
            {% else %}
                <li class="list-item no-results">
                    No feedback matches your filters. Please broaden your search or submit new feedback.
                </li>
            {% endif %}
        {% endif %}
    </ul>
    <div class="clear"></div>
    
    {% paginate %}
{% endblock %}
