<div id="post-editor">
    <div class="wmd-container">
        <div id="wmd-button-bar" class="wmd-button-bar wmd-panel"></div>        
        <textarea class="wmd-panel wmd-input" {{ attributes|safe }}>{{ value }}</textarea>
        
        <div class="clear"></div>
        <p class="preview-header">Here's how your content will appear on the site:</p>
        <div id="wmd-preview" class="wmd-preview wmd-panel"></div>
    </div>
</div>

<script type="text/javascript">
    var WMD_TEXTAREA_ID = '{{ id }}'
    var WMD_BUTTON_ID = 'wmd-button-bar'
    var WMD_PREVIEW_ID = 'wmd-preview'
    
    previewButton = document.createElement("input");
    previewButton.type = "button";
    previewButton.id = "preview-button";
    previewButton.onclick = function() {
        MathJax.Extension.tex2jax.PreProcess('wmd-preview');
        MathJax.Hub.Process('wmd-preview');
    };
    previewButton.value = "Preview Math";
    document.getElementById('post-editor').appendChild(previewButton);
    
    autoPreviewButton = document.createElement("input");
    autoPreviewButton.type = "button";
    autoPreviewButton.id = "auto-button";
    autoPreviewButton.onclick = function() {
        $("#wmd-preview").hide().after(
            "<div class='wmd-preview' style='font-size: 107%; clear: both; line-height: 130%; margin-top: 14px; padding: 3px; width: 660px;' id='math-preview'></div>"
        );
        $("#{{ id }}").keyup(function() {
            MathJax.Extension.tex2jax.PreProcess('wmd-preview');
            MathJax.Hub.Process('wmd-preview');
            $("#math-preview").html($("#wmd-preview").html())
        }).keyup();
        document.getElementById('auto-button').style.visibility='hidden';
        document.getElementById('preview-button').style.visibility='hidden';
    }
    autoPreviewButton.value = "Auto Preview";
    document.getElementById('post-editor').appendChild(autoPreviewButton);
</script>
<script src="{{ STATIC_URL }}wmd-new/wmd.js" type="text/javascript"></script>

