/**************************************\
 * Globals
\**************************************/

body {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 20px;
    
    color: #ffffff;
    background-color: #494d4f;
    
    height: 100%;
}

h1 { font-size: 20px; }

p {
    margin-bottom: 1.5em;
}

a, a:visited {
    color: #145689;
    text-decoration: underline;
}
a:hover {
    color: #cccccc;
    text-decoration: none;
}
a img { 
    border: 0;
    vertical-align: middle;
}

.clear { clear: both; }
.no-float { float: none !important; }

.guide {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

/**************************************\
 * Feedback Widget
\**************************************/

#feedback-widget-wrapper {
    position: fixed;
    top: 50%; left: 0;
    z-index: 2;
    color: #3e4f4a;
    margin-left: -30px;
}
#feedback-widget-wrapper a, #feedback-widget-wrapper a, #feedback-wrapper a:visited {
    color: #193F66;
    top:0px;
    text-decoration: none;
    display:table-cell;
    -webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	/* for ie */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#feedback-widget-wrapper a:hover {
    color: #657F98;
    text-decoration: none;
}

#feedback-widget-toggle {
    padding: 6px 12px;
    border-top: 0;
    border-left: 3px solid #193f66;
    border-right: 3px solid #193f66;
    border-bottom: 3px solid #193f66;
    background: #eee;
    border-radius-bottomleft: 4px;
    border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
}
#feedback-widget {
    display: none;
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 600px;
    border: 5px solid #ccc;
    background: #fff;
    margin-left:50px;
    padding:10px;
}

/**************************************\
 * Header
\**************************************/

#logo-wrapper {
    float: left;
    margin-left: 0;
    padding-top:10px;
}
#logo-link img {
    height: 67px;
    width: 200px;
}

#login-box {
    float: right;
    margin: 20px 50px 0 0;
    font-size: 20px;
    line-height: 20px;
    text-shadow: 0 1px 0 #222222;
}
#login-box a {
    text-decoration: none;
    color: #ffffff;
    padding: 3px 6px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#login-box a:hover {
    background: #999999;
}
#login-box-signup {
    font-weight: bold;
    background: #777777;
}

#user-box {
    float: right;
    padding: 8px 5px 8px 15px;
    text-align: left;
    font-size: 12px;
    background: #585b5d;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#user-box-avatar {
    float: left;
    padding: 0!important;
    width: 25px; height: 25px;
    border: 2px solid #999999;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#user-box-avatar img{
	 width: 25px; height: 25px;
}
#user-box-avatar:hover {
    border: 2px solid #cccccc;
}
#user-box-links {
    float: left;
    margin: 5px 5px 0;
}
#user-box-links a {
    text-decoration: none;
    color: #ffffff;
    padding: 3px 6px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#user-box-links a:hover, #user-box a:active {
    background: #999999;
}
#user-box-name { font-weight: bold; }
#user-box-logout {
    font-weight: bold;
    color: #9f9f9f!important;
}
#user-box-admin { color: #bda657!important; }

#content-navigation-wrapper {
    clear: both;
    float: right;
    padding: 0 0 3px;
    font-size: 12px;
    font-weight: bold;
}
#content-navigation li {
    float: left;
    display: inline;
    margin-left: 5px;
}
#content-navigation li a {
    text-decoration: none;
    color: #ffffff;
    padding: 6px 15px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}
#content-navigation li a:hover, #content-navigation li a:active,
#content-navigation li.active a, body.hq #tab_hq a, body.issues #tab_issues a,
body.people #tab_researchers a, body.blog #tab_disciplines a,
body.feedback #tab_feedback a, body.contribute #tab_contribute a {
    color: #313638;
    background: #ABAEB0;
}
#tab_contribute a {
    background: #738753;
}

/**************************************\
 * Announcements
\**************************************/

ul#messages {
    margin: 10px 0; padding: 0;
    list-style: none;
    color: #3e4f4a;
}
ul#messages li {
    padding: 5px 10px;
    background: #9CCCA4;
    margin: 5px 0;
    border: 1px solid #479955;
}
ul#messages li a { color: #693; }
.clear-message { float: right; }

.announcement {
    text-align: center;
    background: #dadf57!important;
    border: #a2a641!important;
}
.announcement a { color: #6a6c34!important; }

.error {
    background: #CC9CA6!important;
    border: 1px solid #825964!important;
}
.error a { color: #7F4854!important; }

/**************************************\
 * Page Content
\**************************************/

#page-content {
    clear: both;
    color: #3e4f4a;
    background-color: #ffffff;
    border-top: 8px #ABAEB0 solid;
    border-bottom: 8px #ABAEB0 solid;
    text-align: left;
}

#subnav-wrapper {
    background: #C9CCCE;
    list-style: none;
    height: 36px;
}

#breadcrumbs {
    float: left;
    height: 36px;
}
#breadcrumbs li { 
    float:left;
	line-height:36px;
	color:#777;
	padding-left:15px;
}
#breadcrumbs li a {
    background: url(x	) no-repeat right center;
	display: block;
	padding: 0 25px 0 0;
}
#breadcrumbs li a, #breadcrumbs li a:visited {
	color: #777;
	text-decoration:none;
}
#breadcrumbs li a:hover, #breadcrumbs li a:focus {
    color: #8ea94a;
}

#subnav {
    float: right;
}
#subnav li {
    display: inline;
    float: left;
    margin: 7px 10px;
}
#subnav a, #subnav a:visited {
    text-decoration: none;
    color: #415157;
    padding: 4px 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#subnav a:hover, #subnav .active {
    background: #A0A5A7;
}

.right { float: right !important; }
.left { float: left !important; }

/**************************************\
 * Actions
\**************************************/

#actions {
	
}
#actions li {
    display: inline;
    float: left;
}
#actions a, #actions a:visited {
    text-decoration: none;
    color: #333;
    height:25px;
    background: #aad052;
    border: 0px solid #494D4F;
    padding: 4px 8px;
    font-weight:bold;
    font-size:10px;
    text-transform:uppercase;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#actions a:hover, #actions a:active {
    color: #aad052;
    background: #333;
}

.search-form-wrapper {
    float: left;
    text-align: left;
    padding: 0px !important;
}
#search-input {
    width: 250px;
    border: 1px solid #999;
    margin: 0; padding: 4px;
    vertical-align: middle;
}
#search-input, #search-button { font-size: 12px; }
#search-button {
    position: relative;
    right: 23px; top: 3px;
}

.left-action { float: left !important; margin-right: 10px; }
.right-action { float: right !important; margin-left: 10px;}
.left-action a, .right-action a { padding: 6px 10px; }

/**************************************\
 * Body
\**************************************/

#body {
    padding: 10px 0 60px;
}

/**************************************\
 * Footer
\**************************************/

#footer {
    background: #494D4F;
    padding: 10px 0;
    text-align: center;
}

#footer a, #footer a:hover { 
    text-decoration: underline;
    color: #ffffff;
    padding: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#footer a:hover, #footer a:active {
    text-decoration: none;
    background: #999999;
}

#footer-navigation {
    float: left;
    width: 380px;
    background: #585b5d;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#footer-navigation li {
    float: left;
    display: inline;
    margin-right: 5px;
}
#footer-navigation a, #footer-navigation a:hover {
    text-decoration: none;
    padding: 3px 6px;
}
#footer-navigation a:hover, #footer-navigation a:active {
    text-decoration: none;
}

/**************************************\
 * Forms
\**************************************/

input { color: #222222; }

input[type="text"], input[type="password"], textarea {
    border: 2px solid #d5dde0;
    padding: 4px;
    font-size: 12px;
    background-color: #fbfbfb;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border-color: #a7cf4c;
}
input[type="submit"], input[type="button"] {
    border: 2px solid #d5dde0;
    padding: 4px 6px;
    font-size: 12px;
    background-color: #fbfbfb;
    
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}
input[type="submit"]:hover, input[type="submit"]:hover {
    border-color: #a7cf4c;
}
.form_block input {
    margin: 10px;
    float: right;
}

.flag-form-wrapper {
    display: none;
    position: absolute; margin-top: 20px;
    z-index: 2;
    border: 5px solid #c44;
    background: #fff;
    max-width: 400px;
    padding: 10px;
    white-space: normal;
}

/**************************************\
 * Lists
\**************************************/

#list-sidebar {
    float: left;
    margin: 10px 0 0; padding: 10px 10px 10px 0;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
}
.filter-parent {
    margin-left: 5px;
}
.set-filter {
    font-weight: bold;
    margin-left: 10px;
}
.filter-list {
    list-style: none;
    margin-left: 20px;
}
.no-filters {
    margin-left: 20px;
    font-style: italic;
}

#list-block {
    margin: 10px 0 0 180px;
    border-left: 3px solid #ccc;
    padding: 10px 0 10px 20px;
}

.researcher-list-avatar, .researcher-list-avatar:visited {
    float: left;
    width: 80px; height: 80px;
    border: 2px solid #ccc;
}
.researcher-list-avatar:hover {
    border: 2px solid #eee;
}

.list-title {
    text-align: left;
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
}
.list-count {
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
}

.post-list {
    margin: 20px 0 0 0;
}
.list-item {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.list-post-title, .list-post-title:visited {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    margin: 0 0 15px;
    color: #3e4f4a !important;
    text-decoration: none !important;
    font-weight: bold;
}
.list-post-title:hover {
    text-decoration: underline !important;
}

.list-post-block {
    margin: 0 0 15px 190px;
    min-height: 180px;
}
.list-researcher-block {
    margin: 0 0 15px 100px;
    min-height: 70px;
}
.list-post-content {
}

.more-link, .more-link:visited {
    float: left;
    font-weight: bold;
    color: #999 !important;
    text-decoration: none !important;
}
.more-link:hover {
    text-decoration: underline !important;
}

.post-disciplines-list {
    float: right;
    color: #999;
    font-weight: bold;
}
.post-disciplines-list a, .post-disciplines-list a:visited {
    color: #94ba3c !important;
    text-decoration: none !important;
}
.post-disciplines-list a:hover { text-decoration: underline !important; }

.post-tags-list {
    clear: right;
    padding-top: 5px;
    font-weight: bold;
}
.post-tags-list li {
    float: left;
    display: inline;
    margin-right: 10px;
}
.post-tags-list a, .post-tags a:visited {
    background: #333 !important;
    color: #999 !important;
    padding: 3px 6px;
    text-decoration: none !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.post-tags-list a:hover {
    color: #94ba3c !important;
}

.pagination {
    clear: both;
}

.dark-item { background-color: #eee; }

/**************************************\
 * Detail pages
\**************************************/

#detail-sidebar {
    float: left;
    margin-top: 20px; padding: 10px 10px 10px 0;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
}

.big-button, .big-button:visited {
    font-size: 16px;
    margin: 10px 0 10px 0; padding: 4px 8px;
    background: #333;
    color: #fff !important;
    text-decoration: none !important;
    border: 3px solid #ccc;
    font-weight: bold;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.big-button:hover {
    color: #94ba3c !important;
}

#detail-sidebar .meta-box {
    margin-top: 10px;
}

.post-taxonomy-box {
    clear: both;
    padding-top: 20px;
    font-weight: bold;
    color: #999;
}
.post-taxonomy-list li { display: block; margin-bottom: 5px; }
.post-taxonomy-list, .post-taxonomy-list li {
    float: none !important;
}
.post-taxonomy-list {
    margin: 0 0 0 10px;
    list-style: none;
}
.no-disciplines, .no-tags {
    margin-left: 10px;
}

#post-content-block {
    margin: 20px 0 10px 230px;
}
.post-title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}
.post-content { }

.page-title {
    font-size: 24px;
    line-height: 24px;
    margin: 20px 0;
    font-weight: bold;
}

/**************************************\
 * Issue paper list
\**************************************/

.issue-papers-block {
    margin-top: 20px;
}
.issue-paper-header {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.issue-paper-list {
    
}
.issue-paper-list li {
    
}
.paper-preview .list-post-title {
    color: #999 !important;
}

#issue-paper-add {
    display: block;
    width: 120px;
    margin: 10px;
}

/**************************************\
 * Meta
\**************************************/
    
.preview-meta-box, .meta-box {
    float: left;
    text-align: left;
    padding: 10px 10px; margin-bottom: 10px;
    background-color: #eee;
    border:3px solid #ccc;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.preview-meta-box { width: 150px; }
.meta-box { width: 180px; }

.stat-box {
    float: left;
    width: 50%;
    text-align:center;
}
.stat-name {
    font-size: 12px;
    font-weight:bold;
}
.stat-number {
    padding: 5px;
    font-size: 35px;
    line-height: 25px;
    font-weight: bold;
}
.stat-button {
    border-color: transparent !important;
    font-weight: bold !important;
    padding: 2px 4px!important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
}
.yeas { color: #94ba3c; }
.nays { color: #c44; }
.nay-button { color: #fff !important; background-color: #c44 !important;}
.nay-button:hover { color: #fff !important; background-color: #c44 !important; border-color: #ff9966 !important; }
.yea-button { color: #fff !important; background-color: #94ba3c !important; }
.yea-button:hover { color: #fff !important; background-color: #94ba3c !important; border-color: #ccff66 !important; }
.stat-clear, .stat-clear:hover {}

.post-status-block {
    clear: both;
    border-top: 1px solid #ccc;
}
.post-status {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}   

.post-user-block, .post-date {
    font-size: 12px;
}
.post-user-block {
    clear: both;
    margin: 5px 0px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.post-user-link {
    display:block;
    text-decoration:none!important;
    padding: 5px 10px;
}
.post-user-link:hover {
 	background-color:#fff;
 	color:#193F66!important;
}
.anonymous-user { }
.user-avatar {
    float: left;
    width: 40px;
    height: 40px;
    border: 3px solid #ccc;
}
.post-date{
    clear: both;
	padding: 0px 5px;
}

.post-option {
    float: left;
    font-size: 14px;
    color: #999 !important;
    margin: 0 10px;
    text-decoration: none !important;
}
.post-option:hover { text-decoration: underline !important; }

/**************************************\
 * Profiles
\**************************************/

#profile-sidebar {
    float: left;
    width: 200px;
}

.profile-title {
    margin-bottom: 10px;
}

.profile-avatar {
    width: 150px; height: 150px;
    border: 4px solid #ccc;
    margin: 0 0 15px;
    border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
}

.profile-sidebar-block {
    color: #999;
    font-weight: bold;
    margin: 10px 0 10px;
}
.profile-sidebar-block a, .profile-sidebar-block a:visited {
    color: #94ba3c !important;
    text-decoration: none !important;
}
.profile-sidebar-block a:hover { text-decoration: underline !important; }

#profile-followers {
    margin-top: 15px;
    font-size: 20px;
    line-height: 20px;
    color: #666;
}

#profile-content-block {
    margin-left: 200px;
}
#profile-about-block {
    margin-bottom: 10px;
}

.profile-content-header {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

#profile-activity-block {
    float: left;
    width: 400px;
    padding-right: 10px;
    border-right: 3px solid #ccc;
    margin-right: 10px;
    min-height: 200px;
}
#profile-contributions-block {
    float: left;
    margin-left: 10px;
}

.interests-header {
    float: left;
}
.interests-list {
    display: inline;
    font-weight: bold;
}
.interests-list li {
    float: left;
    display: inline;
    margin-left: 10px;
}
.interests-list a, .interests a:visited {
    background: #333 !important;
    color: #999 !important;
    padding: 2px 4px;
    text-decoration: none !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.interests-list a:hover {f
    color: #94ba3c !important;
}

/**************************************\
 * Dashboard
\**************************************/

#dashboard-feed-block {
    float: left;
    width: 500px;
    margin: 0 0 10px;
    min-height: 400px;
}
#dashboard-feed-title {
    margin-top: 0px;
}

#dashboard-subscriptions-block {
    margin: 20px 0 10px 620px;
    min-height: 400px;
}
#dashboard-subscriptions-header {
    font-size: 20px; line-height: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

#dashboard-subscriptions-list {
    list-style: none;
}
#dashboard-subscriptions-list li {
    margin: 0;
    padding: 5px 10px;
    border-top: 1px solid #bababc;
}
#dashboard-subscriptions-list a {
}

.subscription-edit-button {
    float: right;
    padding: 1px 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.subscription-edit-button:hover {
}

/**************************************\
 * Updates
\**************************************/

.update-item { margin-bottom: 10px; }

.feed-icon {
    float: left;
}

.update-content-block {
    margin-left: 30px;
}
.update-header { }
.update-user, .update-object {
    font-weight: bold;
    text-decoration: none !important;
}
.update-user:hover, .update-object:hover { text-decoration: underline !important; }
.update-user { color: #494d4f !important; }
.update-object { color: #657f98 !important; }

.update-time { font-weight: bold; color: #abaeb0 !important; }

.update-content {
    margin: 5px 0 0 30px;
}

/**************************************\
 * Disciplines
\**************************************/

.discipline-tree-root {
    
}
.discipline-tree {
    margin-left: 40px;
}

/**************************************\
 * Ajax Select
\**************************************/

input.ac_loading {
	background: #FFF url('http://staging.colabscience.com/site_media/static/images/loading-indicator.gif') no-repeat;
	background-position: right;
}

.iconic {
    padding: 2px 4px;
    float: left;
    background: url('http://staging.colabscience.com/site_media/static/pinax/img/silk/icons/cross.png') no-repeat;
    color: transparent;
    border: 0;
}
.iconic:hover { background: url('http://staging.colabscience.com/site_media/static/pinax/img/silk/icons/cancel.png') no-repeat; }
.results_on_deck > div { clear: both; }

/**************************************\
 * Discussion/Comments
\**************************************/

.discussion-block {
    clear: both;
    border-top: 2px solid #333;
    margin-top: 20px; padding: 0;
}
.discussion-header {
    font-weight: bold;
    color: #fff !important;
    background: #333;
    padding: 15px 30px;
    width: 170px;
}
.discussion-header-text { font-size: 16px; margin-right: 10px; }
.discussion-header-count {
    background-color: #999;
    padding: 2px 4px;
    border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
}
.discussion-tail {
    position: relative;
    top: 0; left: 0;
}

.no-comments {
    font-size: 20px;
    margin-left: 50px;
}

.comment-item {
    margin: 0 0 10px;
}

.comment-meta-box {
    float: left;
    text-align: left;
    padding: 5px 5px;
    background-color: #eee;
    width: 100px;
}
.comment-meta-box .stat-name, .comment-meta-box .stat-button { font-size: 12px !important; }
.comment-meta-box .stat-button { padding: 2px 4px; }
.comment-meta-box .stat-number { font-size: 24px !important; padding: 0px; }

.comment-content-wrapper {
    border: 1px solid #ccc;
    margin-left: 120px;
    padding: 10px;
}
.comment-content-block {
    margin-left: 60px;
}
.comment-by-line { font-weight: bold; }

.reply-button, .edit-button, .delete-button {
    float: right;
}
.delete-button { color: #C44 !important; }

.level-1 { margin-left: 50px; }
.level-2 { margin-left: 100px; }
.level-3 { margin-left: 140px; }
.level-4 { margin-left: 170px; }
.level-5 { margin-left: 200px; }
.level-6 { margin-left: 225px; }
.level-7 { margin-left: 250px; }
.level-8 { margin-left: 250px; }
.level-9 { margin-left: 250px; }
.level-10 { margin-left: 250px; }
.level-11 { margin-left: 250px; }
.level-12 { margin-left: 250px; }
.level-13 { margin-left: 250px; }
.level-14 { margin-left: 250px; }
.level-15 { margin-left: 250px; }
.level-16 { margin-left: 250px; }
.level-17 { margin-left: 250px; }
.level-18 { margin-left: 250px; }
.level-19 { margin-left: 250px; }
.level-20 { margin-left: 250px; }

.reply-wrapper {
    margin: 40px 0 0 20px;
}
.add-to-discussion {
    font-weight: bold;
    margin-bottom: 0;
}

/**************************************\
 * Homepage
\**************************************/

#tagline {
    text-align: left;
    font-size: 32px; line-height: 32px;
    margin: 10px 0;
    font-weight: bold;
    letter-spacing:-1px;
}
#sub-tagline {
    text-align: left
    font-size: 22px; line-height: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    color:#999;
    letter-spacing:-1px;
}

#launch-box {
    text-align: left;
    font-size: 16px; line-height: 16px;
    margin-bottom: 20px;
    background: #efefef;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    padding: 10px;
    letter-spacing:0px;
}

#home-content {
    margin-top: 10px;
}

#home-cast {
    float: left;
    width: 600px;
}
#home-promo {
    float: right;
    width: 400px;
}

#home-promo-header {
    text-align: center;
    font-size: 24px; line-height: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}
#home-promo-list {
    text-align: left;
    font-size: 16px; line-height: 16px;
    margin-left: 50px;
    font-weight: bold;
    color: #808080;
    margin: 10px 20px 30px;
}
#home-promo-list li {
    background-image: url("http://staging.colabscience.com/site_media/static/images/check.png");
    background-repeat:no-repeat;
    padding-left:40px;
    padding-top:5px;
    background-position: left;
    vertical-align: middle;
    list-style-type:none;
    height: 35px;
    line-height: 35px;
}
#signup-button, #signup-button:visited {
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 32px;
    font-weight: bold;
    color: #333333;
    background: #94ba3c;
    padding: 20px 10px;
    width: 250px;
    text-decoration: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
#signup-button:hover {
    background: #82a630;
}

/**************************************\
 * Login
\**************************************/

#login-page-box {
    margin: 70px auto;
    width: 400px;
    border: 10px solid #ccc;
    padding: 0px;
    background-color:#eee;
    padding:30px 30px 0 30px;
}
#login-page-box h1{
	font-size:32px;
	letter-spacing:-1px;
}
#login-page-box p{
	margin-top:10px;
}
#login-page-box form.login fieldset.inlineLabels div#div_id_email input, #login-page-box form.login fieldset.inlineLabels div#div_id_password input{
	background-color:#fff;
	padding:10px 5px;
	width:380px;
	display:block;
	
}
#login-page-box form.login fieldset.inlineLabels div#div_id_email label, #login-page-box form.login fieldset.inlineLabels div#div_id_password label{
	font-weight:bold;
	font-size:18px;
	margin-top:10px;
	color:#333;	
}
#login-page-box form.login fieldset.inlineLabels div.form_block input {
	background-color:#666;
	border:0px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	font-family: "Helvetica", Arial, sans-serif;
	cursor:pointer;
}		
#login-page-box form.login fieldset.inlineLabels div.form_block input:hover{
	background-color:#333;
}
		
/**************************************\
 * About
\**************************************/
#about {
    width: 700px;
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto;
}
.about #footer { width: 680px; }
.about p {
    padding: 0;
    margin-bottom: 10px; 
}
.about-title {
    margin: 10px auto;
    font-size:28px;
    font-weight:bold;
    text-align: left;
    color:#333;
}
.tagline {
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
    color: #999;
}
.about-header {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0 10px;
    color:#333;	
}
.question {
    font-weight: bold;
    color:#333;
}
.answer {
    margin: 10px 0 25px 50px;
}
.bullet-leadin {
    font-style: italic;
}
.point-list { list-style: square; font-style: none; }
.point-list li { margin-left: 100px; }

.bio-title {
    font-size: 16px;
}
.bio-title a.twitter{
   font-size:11px;
   font-weight:bold;
   background-color:#eee;
   color:#333;
   -moz-border-radius:4px;
   -webkit-border-radius:4px;
   text-decoration:none;
   padding:5px;
}
.bio-title a.twitter:hover{
	background-color:#ccc;
}
.bio {
    margin-left: 50px;
}
